
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container-principal {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

