:root {
  --cor-fundo: #f4f4f4;
  --cor-amarela: #dfb135;
  --cor-amarela-hover: #e8bd47;
  --cor-preta: #171717;
  --cor-preto-puro: #000000;
  --cor-branca: #ffffff;
  --cor-linha: #c9c9c9;
  --cor-borda-clara: #d8d8d8;
  --cor-texto: #1d1d1d;
  --cor-titulo: #1a1a1a;
}