.caixa-links {
  display: inline-block;
}

.links {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2px 50px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000000;
  border: 11px double #f5f3f3;
  border-radius: 40px 0px 40px 0px;
  text-align: center;
  transition:
    transform 0.2s,
    background-color 0.2s;
 box-shadow: 10px 5px 3px 1px #000000;
}

.links:hover {
  background-color: #f2ae30;
  color: black;
  transform: translateY(-10px);
}
